*{
    padding: 0;
    margin: 0;
  
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7929fa6-778e-4544-900d-ec416e8bf350/dexjef5-da7fbb8d-a404-487c-9675-e828507db393.png/v1/fill/w_1280,h_545,q_80,strp/background_spirit_by_horseheart36_dexjef5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTQ1IiwicGF0aCI6IlwvZlwvYjc5MjlmYTYtNzc4ZS00NTQ0LTkwMGQtZWM0MTZlOGJmMzUwXC9kZXhqZWY1LWRhN2ZiYjhkLWE0MDQtNDg3Yy05Njc1LWU4Mjg1MDdkYjM5My5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Qvfz5f7qKFHoATkKii2ARrlyjIepsgo6PaZnCDbhx84);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.spirit{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    background-repeat: repeat-x;
    animation: horse 5s linear infinite;

}

@keyframes horse {
    100%{ 
        transform: translateX(3400px);
    }
}

.spirit img {
    width: 100%;
}